<center style="font-size: 30px;">Lab1</center>

<p>Find the dataset, describe the data contained in the columns of the rectangular data case. Provide metadata for this dataset and add it to the assignment. Post everything in the Google class for this assignment.</p>

<p>It is desirable that the dataset contains at least 5000 records.</p>

Import the required library

In [1]:
import pandas as pd
print(':)')

:)

Open the dataset with pandas.

In [2]:
df = pd.read_csv('BankChurners.csv')
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

Change the name of the line, because it is very long and I don't like it

In [3]:
df.rename(columns={
    'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1': "Naive_Bayes_1",
    'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2': "Naive_Bayes_2"
}, inplace=True)

df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_1,Naive_Bayes_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

<p>Number of rows</p>

In [4]:
total_rows = df.shape[0]
total_rows

10127

<p>Number of colums</p>

In [5]:
total_columns = df.shape[1]
total_columns

23

<p>List of all columns </p>

In [6]:
df.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_1', 'Naive_Bayes_2'],
      dtype='object')

<p>Description of columns and data in them</p>

<p><b>CLIENTNUM</b> - Client number. Unique identifier for the customer holding the account</p>

In [7]:
df['CLIENTNUM'].dtypes

dtype('int64')

<p><b>Attrition_Flag</b> -Internal event (customer activity) variable - if the account is closed then 1 else 0</p>

In [8]:
Attrition_Flag = df['Attrition_Flag'].unique()
Attrition_Flag

array(['Existing Customer', 'Attrited Customer'], dtype=object)

In [9]:
df['Attrition_Flag'].dtypes

dtype('O')

<p><b>Customer_Age</b> - Demographic variable - Customer's Age in Years</p>

In [10]:
df['Customer_Age'].dtypes

dtype('int64')

<p><b>Gender</b> - Demographic variable - M=Male, F=Female</p>

In [11]:
Gender = df['Gender'].unique()
Gender

array(['M', 'F'], dtype=object)

<p><b>Dependent_count</b> - Demographic variable - Number of dependents</p>

In [12]:
Dependent_count = df['Dependent_count'].unique()
Dependent_count

array([3, 5, 4, 2, 0, 1])

In [13]:
df['Dependent_count'].dtypes

dtype('int64')

<p><b>Education_Level</b> - Demographic variable - Educational Qualification of the account holder (example: high school, college graduate, etc.)</p>

In [14]:
Education_Level = df['Education_Level'].unique()
Education_Level

array(['High School', 'Graduate', 'Uneducated', 'Unknown', 'College',
       'Post-Graduate', 'Doctorate'], dtype=object)

<p><b>Marital_Status</b> - Demographic variable - Married, Single, Divorced, Unknown</p>

In [15]:
Marital_Status = df['Marital_Status'].unique()
Marital_Status

array(['Married', 'Single', 'Unknown', 'Divorced'], dtype=object)

<p><b>Income_Category</b> - Demographic variable - Annual Income Category of the account holder (< $40K, $40K - 60K, $60K - $80K, $80K-$120K</p>

In [16]:
Income_Category = df['Income_Category'].unique()
Income_Category

array(['$60K - $80K', 'Less than $40K', '$80K - $120K', '$40K - $60K',
       '$120K +', 'Unknown'], dtype=object)

<p><b>Card_Category</b> - Product Variable - Type of Card (Blue, Silver, Gold, Platinum)</p>

In [17]:
Card_Category = df['Card_Category'].unique()
Card_Category

array(['Blue', 'Gold', 'Silver', 'Platinum'], dtype=object)

<p>Here I don't use unique() for columns because most of the values in these columns are unique.</p>

<p><b>Months_on_book</b> - Period of relationship with bank</p>
<p><b>Total_Relationship_Count</b> - Total no. of products held by the customer</p>
<p><b>Months_Inactive_12_mon</b> - No. of months inactive in the last 12 months</p>
<p><b>Contacts_Count_12_mon</b> - No. of Contacts in the last 12 months</p>
<p><b>Credit_Limit</b> - Total no. of products held by the customer</p>
<p><b>Total_Revolving_Bal</b> - Total Revolving Balance on the Credit Card</p>
<p><b>Avg_Open_To_Buy</b> - Open to Buy Credit Line (Average of last 12 months)</p>
<p><b>Total_Amt_Chng_Q4_Q1</b> - Change in Transaction Amount (Q4 over Q1)</p>
<p><b>Total_Trans_Amt</b> - Total Transaction Amount (Last 12 months)</p>
<p><b>Total_Trans_Ct</b> - Total Transaction Count (Last 12 months)</p>
<p><b>Total_Ct_Chng_Q4_Q1</b> - Change in Transaction Count (Q4 over Q1)</p>
<p><b>Avg_Utilization_Ratio</b> - Average Card Utilization Ratio</p>
<p><b>Naive_Bayes_1</b> - Naive Bayes</p>
<p><b>Naive_Bayes_2</b> - Naive Bayes</p>

In [18]:
print(df.iloc[:, 9:23].dtypes)

Months_on_book                int64
Total_Relationship_Count      int64
Months_Inactive_12_mon        int64
Contacts_Count_12_mon         int64
Credit_Limit                float64
Total_Revolving_Bal           int64
Avg_Open_To_Buy             float64
Total_Amt_Chng_Q4_Q1        float64
Total_Trans_Amt               int64
Total_Trans_Ct                int64
Total_Ct_Chng_Q4_Q1         float64
Avg_Utilization_Ratio       float64
Naive_Bayes_1               float64
Naive_Bayes_2               float64
dtype: object